---
layout: default
title: Home
---

{% include header.html %}

{% include three_carousel.html fileOne="images/sample.jpg" altOne="First slide" fileTwo="images/sample.jpg" altTwo="Second slide" fileThree="images/sample.jpg" altThree="Third slide" %}

<div class="container">
  <h2 class="row row-header">Book Reviews</h2>
  <div class="row row-content row-grid align-self-center">
    <div class="col-sm-3">
      {% include review.html file="images/sample.jpg" alt="Card image cap" title="Card title" content="Some quick example text to build on the card title and make up the bulk of the card's content." %}
    </div>
    <div class="col-sm-3">
      {% include review.html file="images/sample.jpg" alt="Card image cap" title="Card title" content="Some quick example text to build on the card title and make up the bulk of the card's content." %}
    </div>
    <div class="col-sm-3">
      {% include review.html file="images/sample.jpg" alt="Card image cap" title="Card title" content="Some quick example text to build on the card title and make up the bulk of the card's content." %}
    </div>
    <div class="align-self-center col-sm-3">
      <a href="reviews.html" class="btn btn-secondary">More reviews <span class="material-icons" style="vertical-align: -7px;">forward</span></a>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="row row-header">Blog Articles</h2>
  <div class="row row-content row-grid align-self-center">
    <div class="col-sm-3">
      {% include review.html file="images/sample.jpg" alt="Card image cap" title="Card title" content="Some quick example text to build on the card title and make up the bulk of the card's content." %}
    </div>
    <div class="col-sm-3">
      {% include review.html file="images/sample.jpg" alt="Card image cap" title="Card title" content="Some quick example text to build on the card title and make up the bulk of the card's content." %}
    </div>
    <div class="col-sm-3">
      {% include review.html file="images/sample.jpg" alt="Card image cap" title="Card title" content="Some quick example text to build on the card title and make up the bulk of the card's content." %}
    </div>
    <div class="col-sm-3 align-self-center">
      <a href="blog.html" class="btn btn-secondary">More articles <span class="material-icons" style="vertical-align: -7px;">forward</span></a>
    </div>
  </div>
</div>
