---
layout: default
title: Home
---

{% include header.html %}

{% include three_carousel.html fileOne="images/black-writers.png" altOne="Stories by Black Authors" fileTwo="images/summer-list.png" altTwo="Our Summer Reads" fileThree="images/list-serve.png" altThree="Join our email list" %}

<div class="container">
  <h2 class="row row-header display-4 mr-auto">Book Reviews</h2>
  <div class="row row-content row-grid align-self-center">
    {% assign book_reviews = site.posts | where:"grouped_by","book-review" %}
    {% for review in book_reviews limit:3 %}
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="{{ review.image | prepend: site.baseurl }}" alt="{{ review.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ review.title }}</h5>
          <p class="card-text">{{ review.excerpt }}</p>
          <a href="{{ review.url | relative_url }}">Read more</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="align-self-center col-md-3">
      <a href="reviews.html" class="btn btn-secondary">More reviews <span class="material-icons" style="vertical-align: -7px;">forward</span></a>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="row row-header display-4">Blog Articles</h2>
  <div class="row row-content row-grid align-self-center">
    {% assign blog_posts = site.posts | where:"grouped_by","blog-post" %}
    {% for post in blog_posts limit:3 %}
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title align-middle">{{ post.title }}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{ post.excerpt }}</p>
          <a href="{{ post.url | relative_url }}">Read more</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-md-3 align-self-center">
      <a href="blog.html" class="btn btn-secondary">More articles <span class="material-icons" style="vertical-align: -7px;">forward</span></a>
    </div>
  </div>
</div>
