---
layout: default
title: Reviews
---

<div class="containter">
  <div class="row row-header">
    <h2 class="display-4 align-self-center mx-auto">Book Reviews</h2>
  </div>
  <div class="row row-content row-grid align-self-center">
    <div class="col-sm-9 mx-auto">
      <div class="row">
        <div class="review-card col-sm-4">
          {% include review.html file="images/sample.jpg" alt="Card image cap" title="Card title" content="Some quick example text to build on the card title and make up the bulk of the card's content." %}
        </div>
        <div class="review-card col-sm-4">
          {% include review.html file="images/sample.jpg" alt="Card image cap" title="Card title" content="Some quick example text to build on the card title and make up the bulk of the card's content." %}
        </div>
        <div class="review-card col-sm-4">
          {% include review.html file="images/sample.jpg" alt="Card image cap" title="Card title" content="Some quick example text to build on the card title and make up the bulk of the card's content." %}
        </div>
      </div>
      <div class="row">
        <div class="review-card col-sm-4">
          {% include review.html file="images/sample.jpg" alt="Card image cap" title="Card title" content="Some quick example text to build on the card title and make up the bulk of the card's content." %}
        </div>
        <div class="review-card col-sm-4">
          {% include review.html file="images/sample.jpg" alt="Card image cap" title="Card title" content="Some quick example text to build on the card title and make up the bulk of the card's content." %}
        </div>
        <div class="review-card col-sm-4">
          {% include review.html file="images/sample.jpg" alt="Card image cap" title="Card title" content="Some quick example text to build on the card title and make up the bulk of the card's content." %}
        </div>
      </div>
    </div>

  </div>
</div>
