---
---

@import 'bootstrap/bootstrap';

.navbar-dark {
  background-color: #512DA8;
}

.row-header {
  margin: 0px auto;
  // padding: 0px auto;
  padding-top: 50px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background-color: #d5d7db;
}

.jumbotron div {
  padding-top: 50px;
}

.footer {
  background-color: #d5d7db;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.carousel {
  padding-top: 50px;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
